Discovery Node Red Flow.json
[{"id":"cecbc732.e59b08","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"5c28c8c5.f0bd08","type":"watson-conversation-v1","z":"cecbc732.e59b08","name":"","workspaceid":"8d66666f-7e77-4347-8d4a-846d2e370d42","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":740,"y":360,"wires":[["5bc15e19.5380b"]]},{"id":"bbe1c1d.aaead4","type":"function","z":"cecbc732.e59b08","name":"Prepare for Assistant","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":360,"wires":[["5c28c8c5.f0bd08","a5f9d4cb.36b818"]]},{"id":"5bc15e19.5380b","type":"function","z":"cecbc732.e59b08","name":"Prepare for Telegram","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":360,"wires":[["400b8b07.3e09b4","7bf11680.53d368"]]},{"id":"b4b2ffc9.e678c","type":"telegram receiver","z":"cecbc732.e59b08","name":"","bot":"406bf8ae.2ef3b8","saveDataDir":"","filterCommands":false,"x":290,"y":360,"wires":[["bbe1c1d.aaead4"],[]]},{"id":"a5f9d4cb.36b818","type":"debug","z":"cecbc732.e59b08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":240,"wires":[]},{"id":"400b8b07.3e09b4","type":"debug","z":"cecbc732.e59b08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":240,"wires":[]},{"id":"40b2d1fe.c3178","type":"watson-discovery-v1","z":"cecbc732.e59b08","name":"","environmentname":"","environmentId":"02aab36c-bd5e-403c-8f88-188aa20b80b9","collectionId":"46f5d66f-cd13-4f11-8e81-a3c3d2c6604b","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":580,"y":500,"wires":[["fe95de7b.22666","177f28bf.208db7"]]},{"id":"953acf31.599f2","type":"telegram sender","z":"cecbc732.e59b08","name":"","bot":"406bf8ae.2ef3b8","x":1070,"y":500,"wires":[[]]},{"id":"177f28bf.208db7","type":"function","z":"cecbc732.e59b08","name":"Prepare for Telegram 2","func":"if(typeof msg.payload.content == \"undefined\")\n{\n    msg.payload = \n    {\n        chatId : msg.chatId,\n        type : \"message\",\n        content : msg.search_results[0]\n    };\n    return msg;\n}\n\nelse\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":500,"wires":[["10a8eab.53ffe15","953acf31.599f2"]]},{"id":"7bf11680.53d368","type":"function","z":"cecbc732.e59b08","name":"Prepare for Discovery","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":500,"wires":[["40b2d1fe.c3178"]]},{"id":"fe95de7b.22666","type":"debug","z":"cecbc732.e59b08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"search_results","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":600,"wires":[]},{"id":"10a8eab.53ffe15","type":"debug","z":"cecbc732.e59b08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":580,"wires":[]},{"id":"406bf8ae.2ef3b8","type":"telegram bot","z":"","botname":"WatsonFinderBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]