Translator Demo Node Red.json
[{"id":"7e913f60.13d88","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"7e913f60.13d88","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"7e913f60.13d88","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"ea43df69.700ad","type":"telegram command","z":"7e913f60.13d88","name":"","command":"/echo","bot":"406bf8ae.2ef3b8","strict":false,"hasresponse":true,"x":670,"y":80,"wires":[["dd3c24a6.719d18"],[]]},{"id":"dd3c24a6.719d18","type":"telegram sender","z":"7e913f60.13d88","name":"","bot":"406bf8ae.2ef3b8","x":930,"y":100,"wires":[[]]},{"id":"9b54ad08.a1959","type":"telegram sender","z":"7e913f60.13d88","name":"","bot":"406bf8ae.2ef3b8","x":970,"y":560,"wires":[[]]},{"id":"44836973.2dee98","type":"watson-conversation-v1","z":"7e913f60.13d88","name":"","workspaceid":"4482a5ae-5e34-4141-bbae-5be70f395309","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":200,"y":420,"wires":[["cbec3eed.18263"]]},{"id":"2777ab43.761c14","type":"function","z":"7e913f60.13d88","name":"Prepare for Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":340,"wires":[["44836973.2dee98"]]},{"id":"2db4469d.53b66a","type":"function","z":"7e913f60.13d88","name":"Prepare for Telegram","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":560,"wires":[["9b54ad08.a1959"]]},{"id":"8f6fbb3a.3c4928","type":"telegram receiver","z":"7e913f60.13d88","name":"","bot":"406bf8ae.2ef3b8","saveDataDir":"","filterCommands":false,"x":150,"y":240,"wires":[["2777ab43.761c14"],[]]},{"id":"cbec3eed.18263","type":"switch","z":"7e913f60.13d88","name":"","property":"payload.context.action","propertyType":"msg","rules":[{"t":"eq","v":"translate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":500,"wires":[["723df7a9.b3b628"],["2db4469d.53b66a"]]},{"id":"723df7a9.b3b628","type":"function","z":"7e913f60.13d88","name":"Prepare for Translator","func":"msg.srclang = getLanguage(msg.payload.context.source);\nmsg.destlang = getLanguage(msg.payload.context.destination);\nmsg.payload = msg.payload.input.text;\n\nreturn msg;\n\nfunction getLanguage(lang) {\n    switch (lang.toLowerCase()) {\n        case \"french\":\n            return \"fr\";\n        case \"italian\":\n            return \"it\";\n        case \"spanish\":\n            return \"es\";\n    }\n    return \"en\";\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":440,"wires":[["cfa9e3da.4cc17"]]},{"id":"cfa9e3da.4cc17","type":"watson-translator","z":"7e913f60.13d88","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"he","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"he","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"","x":630,"y":360,"wires":[["194721c5.336e8e","5fea49c4.6436f8"]]},{"id":"5fea49c4.6436f8","type":"function","z":"7e913f60.13d88","name":"Prepare for Telegram 2","func":"msg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n content : msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":460,"wires":[["9b54ad08.a1959"]]},{"id":"194721c5.336e8e","type":"function","z":"7e913f60.13d88","name":"Clear Conversation Context","func":"msg.payload = \"hi\";\nmsg.params = {\n    context : {}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":360,"wires":[["182b1a48.7eea76"]]},{"id":"182b1a48.7eea76","type":"watson-conversation-v1","z":"7e913f60.13d88","name":"","workspaceid":"4482a5ae-5e34-4141-bbae-5be70f395309","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":940,"y":260,"wires":[[]]},{"id":"406bf8ae.2ef3b8","type":"telegram bot","z":"","botname":"WatsonFinderBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]